@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon2 {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #313338;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #4e5058;
}

/* Target the scrollbar element */
scrollbar {
  width: 5px; /* Adjust width as desired */
}

/* Style the scrollbar track (the background) */
scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* Adjust color as desired */
}

/* Style the scrollbar thumb (the draggable handle) */
scrollbar-thumb {
  background-color: #4e5058;
}
