@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon2 {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #313338;
}
